table {

    width: 25%;
    
    border-collapse: collapse;
    
    
    
    }
    
    
    td {
    
    border: 1px solid black;
    
    text-align: center;
    
    }
#Clasificaciones {
    background-color: burlywood;
    text-align: center;
}
#Bahrein {
    background-color: khaki;
    text-align: center;
}
#Españoles {
    background-color: lightgreen;
}
#Footer {
    background-color: rgb(0, 255, 255);
    text-align: center;
}
